* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header{
  margin-left: -47px;
}
nav{
  margin-left: -35px;
  height:100px ;
}


#toggleButton {
  display: inline-block;
  margin-right:1020px; 
  margin-top: 20px;
  background-color: white;
  cursor:pointer;
 
}

button i {
  margin-right:15px;
  size: 10px;
  color: black;

  
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: inline;
  float: left;
 
  margin-top: -58px;

  margin-left: 168px;
}
li{
  float: left;
}


li a {
  color: black;
  font-size: 20px;
  text-decoration: 0;
  outline: 0;
  font-weight: 300;
  display: inline-block;
  padding: 17px 17px;
  letter-spacing: .2rem;
  transition: all 0.4s;
  /* margin-right: -30px; */
}

  
p {
    font-size: 12px;
    color: black;
    /* margin: 0px; */
    padding-left: 13px;
    padding-top: 13px;
    font-weight: 300;
    margin-left: 30px;
}
h1{
    color: black;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 40px;
    font-size: 27px;
}
h2{
    color:black;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 40px;
    font-size: 27px;
    /* background-color: green; */
}
.about-section {
    max-width: 800px;
    margin: 20px 0px 0px 120px;
    background-color: #fff; /* White background color for the about section */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the about section */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for the about section */
  }
  
  footer {
    background-color: #D8BFD8;
    padding: 15px;
    text-align: center;
    margin-top: 100px;
  }
 
 
  
