body.dark-mode {
    background-color: black;
    /* Dark mode background color */
    color: #f2f2f2;
    /* Dark mode text color */
}
body.dark-mode header{
    background-color: black;
}
body.dark-mode li a{
    color: white;
}
body.dark-mode #Profile-card h1 {
    color: #f2f2f2;
    /* Dark mode text color */
}
body.dark-mode #Resume-Builder h1 {
    color: #f2f2f2;
    /* Dark mode text color */
}

body.dark-mode ::placeholder {
    color: #f2f2f2;
    opacity: 0.3;
    /* Dark mode text color */
}
body.dark-mode input {
    color: white;
    /* Dark mode text color */
}
body.dark-mode .input-item:hover{
    
    background-color: gray;
    /* Dark mode text color */
}
body.dark-mode .input-item:hover::placeholder{
    
   color: black;
    /* Dark mode text color */
}
body.dark-mode .feedback-input:hover{
    
    background-color: gray;
    /* Dark mode text color */
}
body.dark-mode #profilepic{
    background-color: black;
}
body.dark-mode #profilePic{
    background-color: black;
}
body.dark-mode .profileCard{
    box-shadow: 0 0 18px white;
}
body.dark-mode footer{
    background-color: black;
}
body.dark-mode footer p{
    background-color: black;
    color: white;
}
body.dark-mode .footer-links a{
color: white;
}
body.dark-mode .footer-links .icon{
color: white;
}
body.dark-mode .about-section{
    background-color: black;
}
body.dark-mode .about-section p{
    background-color:black;
    color: white;
}
body.dark-mode .about-section h1{
    color: white;
}
body.dark-mode .about-section h2{
    color: white;
}

body.dark-mode #toggleButton{
    background-color: black;
}
body.dark-mode i{
    color: white;
   
}
body.dark-mode .dropbtn{
    background-color: black;
    color: white;
}
body.dark-mode .dropdown-content{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5)

}